.list--items{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
   

    .list--item{
        padding: 10px 0 0 10px;
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and(min-width: 576px ) {
    .list--items{
        .list--item{
            width: 50%;
            box-sizing: border-box;
        }
    }
}

@media screen and(min-width: 768px ) {
    .list--items{
        margin: -20px 0 0 -20px;
        .list--item{
            padding: 20px 0 0 20px;
            width: 33.33%;
            box-sizing: border-box;
        }
    }
}


@media screen and(min-width: 992px ) {
    .list--items{
        .list--item{
            padding: 20px 0 0 20px;
            width: 33.33%;
            box-sizing: border-box;
        }
    }
}


@media screen and(min-width: 1200px ) {
    .list--items{
        .list--item{
            padding: 20px 0 0 20px;
            width: 25%;
            box-sizing: border-box;
        }
    }
}

