.Container {
    position: fixed;
    background-color: #85a1c071;
    width: 50%;
    height: 70%;

    box-shadow: 1px 2px 2px #b9daee00;
    border: 0.5em solid #475e9e;
    border-radius: 0.5em;
    color: #001d27;
    padding: 1em;
    font-style: italic;


    .form-comp {
        flex-direction: column;
    }

    .sign-up-form {
        width: 50%;
        flex-direction: column;
    }

    .sign-up-form>label {
        padding: 1em;
        width: 100%;
        font-size: 20px;
    }

    .sign-up-form>label>input {
        width: 100%
    }
}