.footer--main{
    border-top: 1px solid #efefef;
    background: #efefef;
    padding: 20px 0;
    text-align: center;

    .copyright{
        font-size: 11px;
        line-height: 26px;
        color: #373737;
        letter-spacing: .04em;
    }
}